<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoomLED Cheat-Sheet</title>
</head>
<body>
<div>
    <h1>ROOMLED</h1>
    <h2>Cheat Sheet</h2>

    <p>
        Keys are 'leds1' 'leds2' and 'leds3
        for their respective strips.
        Values can be as follows:
    </p>

    <ul>
        <li><p>
            'individual'
            to assign an individual colour value
            for each led in the strip
            {'leds1': {'individual': {'0': [r, g, b], '1': '#12df63'}}}
        </p></li>
        <li><p>
            'colour'
            to colour the entire strip in 1 colour
            e.g. {'leds1': {'colour': '#abc'}}
            both hex and rgb lists work like:
            '#abcdef' or '#123' or [128, 32, 48]
        </p></li>
        <li><p>
            'random'
            well, it does what you'd expect.
            Each run presents a new colourful result!
            "{'leds1': 'random'}"
        </p></li>
        <li><p>
            'gradient'
            input a list with 2 rgb values
            e.g "{'leds1': {'gradient': [[12, 242, 55], [11, 9, 233]]}}"
            hex values can also be used:
            "{'leds2': {'gradient': ['#ff2519', '#3eb']}}"
        </p></li>
        <li><p>
            'raveparty'
            whoever is epileptical shouldn't get close to this
            e.g "{'leds1': {'raveparty': 30}}"
            the number value is the delay between rgb flashes
        </p></li>
    </ul>
</div>

<div>
    <p>You will need a config file with all devices, their type, ip address and LED count (and/or possibly some some other info)</p>
    <p>
        An example could look like this:

        {
        "sideboard": {
        "type": "nodemcu",
        "ip": "192.168.5.100",
        "leds": 105
        },
        "window": {
        "type": "nodemcu",
        "ip": "192.168.5.101",
        "leds": 65
        },
        "computer": {
        "type": "computer",
        "ip": "192.168.5.10",
        "devices": {
        "arduino": {
        "type": "1d",
        "leds": 32
        },
        "blackwidow": {
        "type": "2d",
        "x": 22,
        "y": 6
        },
        "launchpad": {
        "type": "2d",
        "x": 8,
        "y": 8
        }
        }
        },
        "phone": {
        "type": "phone",
        "ip": "192.168.5.11"
        }
        }

        Note that the given devices are the only supported ones right now
    </p>
</div>
</body>
</html>