<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>RoomLED Server</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
    <body class="darkmode">
        <nav class="navbar navbar-light bg-dark">
            <a class="navbar-brand-link" href="/">
                <img class="navbar-brand logo-small" src="img/logo.png" alt="Logo">
            </a>

            <ul class="navbar-nav">
                <li class="nav"><a href="/cheat-sheet">To the cheat sheet!</a></li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-1"></div>
                <div class="col-xl-8 col-md-10">
                    <form class="mt-5" id="nodemcu-form" action="/led-form" method="post">
                        <div class="form-group row">
                            <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
                                <label for="nodemcu-1">NodeMCU 1 (Desk)</label>
                            </div>
                            <div class="col-6 col-sm-7 col-md-8 col-lg-8 col-xl-9">
                                <input id="nodemcu-1" class="checkbox" checked name="nodemcu-1" type="checkbox"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
                                <label for="nodemcu-2">NodeMCU 2 (Sideboard)</label>
                            </div>
                            <div class="col-6 col-sm-7 col-md-8 col-lg-8 col-xl-9">
                                <input id="nodemcu-2" class="checkbox" checked name="nodemcu-2" type="checkbox"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
                                <label for="nodemcu-3">NodeMCU 3 (Bed)</label>
                            </div>
                            <div class="col-6 col-sm-7 col-md-8 col-lg-8 col-xl-9">
                                <input id="nodemcu-3" class="checkbox" checked name="nodemcu-3" type="checkbox"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
                                <label for="mode">Color Mode</label>
                            </div>
                            <div class="col-6 col-sm-7 col-md-8 col-lg-8 col-xl-9">
                                <select id="mode" class="input-scale" name="mode">
                                    <option value="individual">Individual</option>
                                    <option value="single_color" selected>Single Color</option>
                                    <option value="gradient">Gradient</option>
                                    <option value="random">Random</option>
                                    <option value="random_lead_color">Random Lead Color</option>
                                    <option value="random_lead_gradient">Random Lead Gradient</option>
                                    <option value="off">Off</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
                                <label for="color1">Color 1 (if required)</label>
                            </div>
                            <div class="col-6 col-sm-7 col-md-8 col-lg-8 col-xl-9">
                                <input id="color1" class="input-scale" value="#9FFF00" name="color1" type="color">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
                                <label for="color2">Color 2 (if required)</label>
                            </div>
                            <div class="col-6 col-sm-7 col-md-8 col-lg-8 col-xl-9">
                                <input id="color2" class="input-scale" value="#00ADFF" name="color2" type="color">
                            </div>
                        </div>

                        <button id="form-submit" class="btn btn-dark" type="submit">Set Color</button>
                    </form>
                </div>
                <div class="col-xl-2 col-lg-1"></div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script>
            (function($) {
                const url = '/led-form';
                const button = $('#form-submit');

                button.on('click', function (event) {
                    event.preventDefault();
                    button.addClass('btn-warning');
                    button.removeClass('btn-dark');
                    const form = $('#nodemcu-form')[0];
                    fetch(url, {
                        method: 'post',
                        body: new FormData(form),
                    }).then(response => {

                        button.removeClass('btn-warning');

                        if (response.status === 200) {
                            button.addClass('btn-success');
                        } else {
                            button.addClass('btn-danger');
                        }

                        setTimeout(function() {
                            button.addClass('btn-dark');
                            button.removeClass('btn-success');
                            button.removeClass('btn-danger');
                        }, 2000);
                    });
                });
            })(jQuery);
        </script>
    </body>
</html>
