<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoomLED Cheat-Sheet</title>
</head>
<body>
    <div>
        <h1>ROOMLED</h1>
        <h2>Cheat Sheet</h2>

        <p>
            Keys are 'leds1' 'leds2' and 'leds3
            for their respective strips.
            Values can be as follows:
        </p>

        <ul>
            <li><p>
                {0:[r,g,b], 1:[r,g,b], ...}
                for each led in the strip
                to assign an individual colour value
            </p></li>
            <li><p>
                '#abcdef' or [128, 32, 48]
                to colour the entire strip in 1 colour
            </p></li>
            <li><p>
                'random'
                well, it does what you'd expect.
                Each run presents a new colourful result!
            </p></li>
        </ul>
    </div>
</body>
</html>